<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528733224436-9jiuirr0k0mejj752c6e1ph2gvpe3v8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528733224436-9jiuirr0k0mejj752c6e1ph2gvpe3v8h</string>
	<key>API_KEY</key>
	<string>AIzaSyBlVyNQabm3fFH466LGEAfScJ-xkFGqDAA</string>
	<key>GCM_SENDER_ID</key>
	<string>528733224436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackergames.bridgebuilder.stunt.car.games</string>
	<key>PROJECT_ID</key>
	<string>bridgebuilderios</string>
	<key>STORAGE_BUCKET</key>
	<string>bridgebuilderios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528733224436:ios:5284722eb4b48b908d8da1</string>
</dict>
</plist>